In [45]:
import pandas as pd
from _collections import OrderedDict
data_frame = pd.read_csv('friend_list.csv')
data_frame.age

friend_dict_list = [
    {'name' : 'John', 'age' : 25, 'job' : 'student'},
    {'name' : 'Jenny', 'age' : 20, 'job' : 'developer'},
    {'name' : 'Nate', 'age' : 30, 'job' : 'teacher'} 
]
df = pd.DataFrame(friend_dict_list)


friend_ordered_list = (
    [
        ('name', ['John', 'Nate']),
        ('age', [25, 30]),
        ('job', ['student', 'teacher'])
    ]
)
df = pd.DataFrame(friend_ordered_list)

friend_list = [
    ['John', 25, 'student'],
    ['Nate', 30, 'teacher']
]
column_name = ['name', 'age', 'job']
df = pd.DataFrame.from_records(friend_list,columns = column_name)

friend_list = [
        ['name', ['John', 'Nate']],
        ['age', [25, 30]],
        ['job', ['student', ]]
]
df.to_csv('friends_1.csv', index=False, header=False, na_rep='-')
df = pd.DataFrame(friend_dict_list)
df['salary'] = 0
import numpy as np
df['salary'] = np.where(df['job'] != 'student', 'yes', 'no')
friend_test_list = [
    {'name' : 'John', 'midterm' : 90, 'final' : 95},
    {'name' : 'Jenny', 'midterm' : 70, 'final' : 75},
    {'name' : 'Nate', 'midterm' : 30, 'final' : 50} 
]
df = pd.DataFrame(friend_test_list)
df['total'] = df['midterm'] + df['final']
df['average'] = df['total'] / 2
grade = []
for row in df['average'] :
    if row >= 90 :
        grade.append('A')
    elif row >= 70 :
        grade.append('B')
    else :
        grade.append('F')
df['grade'] = grade

def pass_or_fail(row) :
    if row != 'F' :
        return 'Pass'
    else :
        return 'Fail'
df.grade = df.grade.apply(pass_or_fail)

date_list = [
    {
        'yyyy-mm-dd' : '2002-05-31'
    },
    {
        'yyyy-mm-dd' : '2010-06-27'
    }
]
df = pd.DataFrame(date_list, columns=['yyyy-mm-dd'])
def extract_year (row) : 
    return row.split('-')[0]
df['yyyy-mm-dd'] = df['yyyy-mm-dd'].apply(extract_year)
df

  yyyy-mm-dd
0       2002
1       2010